@using FinancesClient.Data

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>BalanceChange</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in Operations)
        {
            <tr>
                <td>@operation.Date.ToShortDateString()</td>
                <td>@operation.Type</td>
                <td>@operation.BalanceChange</td>
                <td><button @onclick="@(() => OnClickDelete.InvokeAsync(operation))">Delete</button></td>
                <td><button @onclick="@(() => OnClickChange.InvokeAsync(operation))">Change</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<FinancialOperation> Operations { get; set; }

    [Parameter]
    public EventCallback<FinancialOperation> OnClickDelete { get; set; }

    [Parameter]
    public EventCallback<FinancialOperation> OnClickChange { get; set; }
}
