@using FinancesClient.Data

<p>
    Total income = @Statement.TotalIncome <br />
    Total expenses = @Statement.TotalExpense
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>BalanceChange</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in Statement.FinancialOperations)
        {
            <tr class="data-output">
                <td class="date">@operation.Date.ToShortDateString()</td>
                <td class="type">@operation.Type</td>
                <td class="balance-change">@operation.BalanceChange</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public FinancialStatement Statement { get; set; }
}

